*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#000;
    color:white;
    min-height:100vh;
}

/* NAVBAR */

header{
    width:90%;
    margin:auto;
    padding:25px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav{
    display:flex;
    gap:50px;
}

nav a{
    color:white;
    text-decoration:none;
}

.buttons{
    display:flex;
    gap:10px;
}

.login,
.register{
    padding:10px 25px;
    border-radius:30px;
    border:none;
    cursor:pointer;
}

.login{
    background:white;
    color:black;
}

.register{
    background:#111;
    color:white;
    border:1px solid #333;
}

/* CONTACT */

.contact-container{
    width:90%;
    margin:50px auto;

    display:flex;
    justify-content:space-between;
    gap:80px;
}

/* LEFT */

.contact-info{
    width:50%;
}

.subtitle{
    font-weight:bold;
}

.contact-info h1{
    color:#00d084;
    margin:20px 0;
    font-size:42px;
}

.contact-info p{
    color:#8a8a8a;
    max-width:400px;
    line-height:1.6;
}

.card{
    background:#0b0b0b;
    border:1px solid #1f1f1f;

    padding:20px;
    margin-top:30px;

    border-radius:15px;

    display:flex;
    gap:20px;
    align-items:center;
}

.icon{
    width:50px;
    height:50px;

    border:1px solid #444;
    border-radius:10px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:22px;
}

.card small{
    color:#777;
}

.card h3{
    margin:5px 0;
}

.card span{
    color:#777;
}

.online{
    color:#00d084 !important;
}

/* FORM */

.form-box{
    width:400px;
    border:1px solid #555;
    border-radius:20px;
    padding:30px;
}

.form-box h2{
    margin-bottom:10px;
}

.form-box p{
    color:#aaa;
    margin-bottom:25px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:15px;
    margin-bottom:5px;
    font-size:14px;
}

input,
textarea{
    background:transparent;
    border:1px solid #555;
    color:white;

    padding:12px;
    border-radius:5px;
}

textarea{
    height:120px;
    resize:none;
}

.send-btn{
    margin-top:20px;
    padding:14px;

    background:#00d084;
    color:white;

    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}